<i>Настоящая оферта регулирует условия подключения и использования автоплатежа для оплаты услуги "Подписка на женский клуб EZOWOMAN".
Подключая автоплатеж, пользователь дает согласие на автоматическое списание суммы 555 рублей с указанной банковской карты.
Пользователь может отключить автоплатеж в любой момент через бота, в котором происходит оплата или обратившись в службу поддержки (чат @mary_ezotema).
Оператор обязуется списывать только согласованную сумму и обеспечивает безопасность платежных данных.</i>